<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <configProtectedData>
    <providers>
      <add name="TrainingProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="TrainingKeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <connectionStrings configProtectionProvider="TrainingProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>SN07V2yypQEaB4NP3rsKz4OAA1Ptm0V4om6v34W8sgPayCplXQisomVDu45bqWA1vcMf5HUpAjZfP8gD9C3fX7kFgakghPdHeKs+cX9IrrAwzQeOppRtzN7lgVNVZuj9vQjHuZ3ALwS/9R4DQ00+2zOnnHpAtW/pV1YHMv+0rzg=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>uZLeq8HHD2n3J8cezKvBAdCzbzNiEqGkAv0C9tjDd4+BJiXdrO28WqS5ftu6m/Yt5g4S8BBJdjSsx9WbanJyB5/M/hiYGJC94SC/08xJMOHCzEHE/YWACoRDjP1zdTypLRQx7k1fYbA4JlM//78KpfOzeI6n2oPiW8x242izQZ7ujp/356xmUa1qlPev3bBIEzUKC3Rg+ZvtniiIHjCjIp04xubR1CozeUXOquI2xU2nHepK1M8e4+GddOp0Z5fz9bDwC854GFI9ElprsWgmXnc5jTxv/AS37PTephueePHAylbMCMBUHEHfq4fca+1yjTFfl1SuzjQ+gx2KjLPm7dhXPSqlz527BOARXl+zBZuRfFkz9eaMFS8HB9obt7tj5VBjjN+kiEJqhnUB29ovCb16+m8uPrdhKVehJ4K6h1aYNKURMoPHHEU9DkjqRsQ5cyKBqExiK6l1CTrwJul+MZb6xKg4E91uNquFe73zQPS499vbG6MPTuGb2lYVEZBoiUhny2jhK9ZpnevgjO0EsxhjGFFyLaTDyVckJ5pk9ncUtYr34Zw1UQeLl8KpLi75VQPnR/iJUEW5NHI8uWIioQMB08LeY63B5ZtT1LY/+sWYQIVAsD4zB3f47AOW2aqWmVvulsuze3CkFVSlfNDs8ZZSv+wFUGn+MAHeTwJtRxk/LrsfGtrKsflgWvXzuebO</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>