<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configProtectedData>
    <providers>
      <add name="TrainingProvider"
           type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           keyContainerName="TrainingKeys"
           useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <appSettings configProtectionProvider="TrainingProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>LbZdHtb5OVG5z1sw11iUZ7lBxBCN0rJwlq3Dp78Z6gGjoB80IA5we0XZQ4ZKRxw7uOJHQaLskzqqetotqksDgKVSihf1PTizzOi68o/vShtR5fwnIjq+zkv4ls93u01L9a0F0zbTezO9z4uUWOvDwfwksKweiIpt5wOr+KY/w/M=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>QMJ1egQ0ccYwoWNzBZPFBRgxY/BOqniYd5z3mnUqGJwnx0HVC0IYTyLTgsNInd4R1FfRExOvGMKOBWmu8qwCRBG56bV8+cRP2QWRJOul0qX+wvOg+B2Y2y4hytatOouNrGFxLEJmYPWYCW5S5oUzU2YdK3Pd8JqfBleHknCn+9uSR0OWvtE/vRHcvdNijL+ZXutX9fUEwK0wjbZs7qQqLuaPf6d8mARGFJs8zr2uzo3Efnz+mj5quA30F82IYq7VW/5PfztCRjslz59zzbujxPkPTixDb4UMrifK665emq3KU7nczXnEggNpZlZa6xzGH4xpg/otF3+QFdYGThdM98/RkOAlOXav55HtoSgeybecei3g/uYNSSul08g26IFarn3nEbgZPQZLKyvUsXC8PLUoLxaV82yH7u86LbQMhMWQMCHp1Lasl2bxGnWS7HJJ/3UdZpa4rmzqGhtt0+CknNw5rMByar3N</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
